# Ejercicios Effective Pandas 2

## Ejercicios Chapter 6. Series introduction

1. Using Jupyter, create a series with the temperature values for the last seven days. Filter out the values below the mean.

In [1]:
import pandas as pd
last_7_days_list = [9.8, 10.8, 10.3, 12.8, 13.1, 13.3, 13.5] #lista de temperaturas ultimos 7 dias
temp_last_7_days = pd.Series(last_7_days_list) #convertimos en pd Series
temp_last_7_days

0     9.8
1    10.8
2    10.3
3    12.8
4    13.1
5    13.3
6    13.5
dtype: float64

In [2]:
print(f"La media de temperatura en los ultimos 7 días en Barcelona es de {temp_last_7_days.mean().round(2)} C.")
below_mean = temp_last_7_days < temp_last_7_days.mean() #creamos la mascara como una matriz booleana desde la Series
temp_last_7_days_below_mean = temp_last_7_days[below_mean] #aplicamos la máscara a la Series
temp_last_7_days_below_mean

La media de temperatura en los ultimos 7 días en Barcelona es de 11.94 C.

0     9.8
1    10.8
2    10.3
dtype: float64

2. Using Jupyter, create a series with your favorite colors. Use a categorical type.

In [3]:
colores_favoritos = pd.Series(["azul", "rojo", "verde"], dtype = 'category') #creamos Series con categorías
print(colores_favoritos)
print(colores_favoritos.cat.ordered) #vemos que no está ordenado
colores_favoritos_ordenado = colores_favoritos.cat.reorder_categories(["azul", "verde", "rojo"], ordered = True) #creamos series con categorías ordenadas
print(colores_favoritos)
colores_favoritos_ordenado.cat.ordered #vemos que ahora sí está ordenado

0     azul
1     rojo
2    verde
dtype: category
Categories (3, object): ['azul', 'rojo', 'verde']
False
0     azul
1     rojo
2    verde
dtype: category
Categories (3, object): ['azul', 'rojo', 'verde']

True

## Chapter 7 Series Deep Dive

In [4]:
import pandas as pd
url = 'https://github.com/mattharrison/datasets/raw/master/data/vehicles.csv.zip'
df = pd.read_csv(url, dtype_backend = 'pyarrow', engine = 'pyarrow')
city_mpg = df.city08
highway_mpg = df.highway08

In [5]:
city_mpg

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64[pyarrow]

In [6]:
highway_mpg

0        25
1        14
2        33
3        12
4        23
         ..
41139    26
41140    28
41141    24
41142    24
41143    21
Name: highway08, Length: 41144, dtype: int64[pyarrow]

In [7]:
len(dir(city_mpg))

420

In [8]:
len(dir(temp_last_7_days))

419

1. Explore the documentation for five attributes of a series from Jupyter.

In [9]:
dir(temp_last_7_days)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__column_consortium_standard__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_expanddim_from_mgr',
 '_constructor_from_mgr',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_flex_method',
 '_from_mgr',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_rows_with_mask',
 '_get_value',
 '_get_values_tuple',
 '_get_with',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_is_view_after_cow_rules',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_references',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_shift_with_freq',
 '_slice',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'case_when',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'list',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'struct',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [10]:
temp_last_7_days.replace?

Signature:
temp_last_7_days.replace(
    to_replace=None,
    value=<no_default>,
    *,
    inplace: 'bool_t' = False,
    limit: 'int | None' = None,
    regex: 'bool_t' = False,
    method: "Literal['pad', 'ffill', 'bfill'] | lib.NoDefault" = <no_default>,
) -> 'Self | None'
Docstring:
Replace values given in `to_replace` with `value`.

Values of the Series/DataFrame are replaced with other values dynamically.
This differs from updating with ``.loc`` or ``.iloc``, which require
you to specify a location to update with some value.

Parameters
----------
to_replace : str, regex, list, dict, Series, int, float, or None
    How to find the values that will be replaced.

    * numeric, str or regex:

        - numeric: numeric values equal to `to_replace` will be
          replaced with `value`
        - str: string exactly matching `to_replace` will be replaced
          with `value`
        - regex: regexs matching `to_replace` will be replaced with
          `value`

    * list of str, regex, or numeric:

        - First, if `to_replace` and `value` are both lists, they
          **must** be the same length.
        - Second, if ``regex=True`` then all of the strings in **both**
          lists will be interpreted as regexs otherwise they will match
          directly. This doesn't matter much for `value` since there
          are only a few possible substitution regexes you can use.
        - str, regex and numeric rules apply as above.

    * dict:

        - Dicts can be used to specify different replacement values
          for different existing values. For example,
          ``{'a': 'b', 'y': 'z'}`` replaces the value 'a' with 'b' and
          'y' with 'z'. To use a dict in this way, the optional `value`
          parameter should not be given.
        - For a DataFrame a dict can specify that different values
          should be replaced in different columns. For example,
          ``{'a': 1, 'b': 'z'}`` looks for the value 1 in column 'a'
          and the value 'z' in column 'b' and replaces these values
          with whatever is specified in `value`. The `value` parameter
          should not be ``None`` in this case. You can treat this as a
          special case of passing two lists except that you are
          specifying the column to search in.
        - For a DataFrame nested dictionaries, e.g.,
          ``{'a': {'b': np.nan}}``, are read as follows: look in column
          'a' for the value 'b' and replace it with NaN. The optional `value`
          parameter should not be specified to use a nested dict in this
          way. You can nest regular expressions as well. Note that
          column names (the top-level dictionary keys in a nested
          dictionary) **cannot** be regular expressions.

    * None:

        - This means that the `regex` argument must be a string,
          compiled regular expression, or list, dict, ndarray or
          Series of such elements. If `value` is also ``None`` then
          this **must** be a nested dictionary or Series.

    See the examples section for examples of each of these.
value : scalar, dict, list, str, regex, default None
    Value to replace any values matching `to_replace` with.
    For a DataFrame a dict of values can be used to specify which
    value to use for each column (columns not in the dict will not be
    filled). Regular expressions, strings and lists or dicts of such
    objects are also allowed.

inplace : bool, default False
    If True, performs operation inplace and returns None.
limit : int, default None
    Maximum size gap to forward or backward fill.

    .. deprecated:: 2.1.0
regex : bool or same types as `to_replace`, default False
    Whether to interpret `to_replace` and/or `value` as regular
    expressions. Alternatively, this could be a regular expression or a
    list, dict, or array of regular expressions in which case
    `to_replace` must be ``None``.
method : {'pad', 'ffill', 'bfill'}
    The method to use when for replacement, when `to_replace` is a
    scalar, list or tuple and `value` is ``None``.

    .. deprecated:: 2.1.0

Returns
-------
Series/DataFrame
    Object after replacement.

Raises
------
AssertionError
    * If `regex` is not a ``bool`` and `to_replace` is not
      ``None``.

TypeError
    * If `to_replace` is not a scalar, array-like, ``dict``, or ``None``
    * If `to_replace` is a ``dict`` and `value` is not a ``list``,
      ``dict``, ``ndarray``, or ``Series``
    * If `to_replace` is ``None`` and `regex` is not compilable
      into a regular expression or is a list, dict, ndarray, or
      Series.
    * When replacing multiple ``bool`` or ``datetime64`` objects and
      the arguments to `to_replace` does not match the type of the
      value being replaced

ValueError
    * If a ``list`` or an ``ndarray`` is passed to `to_replace` and
      `value` but they are not the same length.

See Also
--------
Series.fillna : Fill NA values.
DataFrame.fillna : Fill NA values.
Series.where : Replace values based on boolean condition.
DataFrame.where : Replace values based on boolean condition.
DataFrame.map: Apply a function to a Dataframe elementwise.
Series.map: Map values of Series according to an input mapping or function.
Series.str.replace : Simple string replacement.

Notes
-----
* Regex substitution is performed under the hood with ``re.sub``. The
  rules for substitution for ``re.sub`` are the same.
* Regular expressions will only substitute on strings, meaning you
  cannot provide, for example, a regular expression matching floating
  point numbers and expect the columns in your frame that have a
  numeric dtype to be matched. However, if those floating point
  numbers *are* strings, then you can do this.
* This method has *a lot* of options. You are encouraged to experiment
  and play with this method to gain intuition about how it works.
* When dict is used as the `to_replace` value, it is like
  key(s) in the dict are the to_replace part and
  value(s) in the dict are the value parameter.

Examples
--------

**Scalar `to_replace` and `value`**

>>> s = pd.Series([1, 2, 3, 4, 5])
>>> s.replace(1, 5)
0    5
1    2
2    3
3    4
4    5
dtype: int64

>>> df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
...                    'B': [5, 6, 7, 8, 9],
...                    'C': ['a', 'b', 'c', 'd', 'e']})
>>> df.replace(0, 5)
    A  B  C
0  5  5  a
1  1  6  b
2  2  7  c
3  3  8  d
4  4  9  e

**List-like `to_replace`**

>>> df.replace([0, 1, 2, 3], 4)
    A  B  C
0  4  5  a
1  4  6  b
2  4  7  c
3  4  8  d
4  4  9  e

>>> df.replace([0, 1, 2, 3], [4, 3, 2, 1])
    A  B  C
0  4  5  a
1  3  6  b
2  2  7  c
3  1  8  d
4  4  9  e

>>> s.replace([1, 2], method='bfill')
0    3
1    3
2    3
3    4
4    5
dtype: int64

**dict-like `to_replace`**

>>> df.replace({0: 10, 1: 100})
        A  B  C
0   10  5  a
1  100  6  b
2    2  7  c
3    3  8  d
4    4  9  e

>>> df.replace({'A': 0, 'B': 5}, 100)
        A    B  C
0  100  100  a
1    1    6  b
2    2    7  c
3    3    8  d
4    4    9  e

>>> df.replace({'A': {0: 100, 4: 400}})
        A  B  C
0  100  5  a
1    1  6  b
2    2  7  c
3    3  8  d
4  400  9  e

**Regular expression `to_replace`**

>>> df = pd.DataFrame({'A': ['bat', 'foo', 'bait'],
...                    'B': ['abc', 'bar', 'xyz']})
>>> df.replace(to_replace=r'^ba.$', value='new', regex=True)
        A    B
0   new  abc
1   foo  new
2  bait  xyz

>>> df.replace({'A': r'^ba.$'}, {'A': 'new'}, regex=True)
        A    B
0   new  abc
1   foo  bar
2  bait  xyz

>>> df.replace(regex=r'^ba.$', value='new')
        A    B
0   new  abc
1   foo  new
2  bait  xyz

>>> df.replace(regex={r'^ba.$': 'new', 'foo': 'xyz'})
        A    B
0   new  abc
1   xyz  new
2  bait  xyz

>>> df.replace(regex=[r'^ba.$', 'foo'], value='new')
        A    B
0   new  abc
1   new  new
2  bait  xyz

Compare the behavior of ``s.replace({'a': None})`` and
``s.replace('a', None)`` to understand the peculiarities
of the `to_replace` parameter:

>>> s = pd.Series([10, 'a', 'a', 'b', 'a'])

When one uses a dict as the `to_replace` value, it is like the
value(s) in the dict are equal to the `value` parameter.
``s.replace({'a': None})`` is equivalent to
``s.replace(to_replace={'a': None}, value=None, method=None)``:

>>> s.replace({'a': None})
0      10
1    None
2    None
3       b
4    None
dtype: object

When ``value`` is not explicitly passed and `to_replace` is a scalar, list
or tuple, `replace` uses the method parameter (default 'pad') to do the
replacement. So this is why the 'a' values are being replaced by 10
in rows 1 and 2 and 'b' in row 4 in this case.

>>> s.replace('a')
0    10
1    10
2    10
3     b
4     b
dtype: object

    .. deprecated:: 2.1.0
        The 'method' parameter and padding behavior are deprecated.

On the other hand, if ``None`` is explicitly passed for ``value``, it will
be respected:

>>> s.replace('a', None)
0      10
1    None
2    None
3       b
4    None
dtype: object

    .. versionchanged:: 1.4.0
        Previously the explicit ``None`` was silently ignored.

When ``regex=True``, ``value`` is not ``None`` and `to_replace` is a string,
the replacement will be applied in all columns of the DataFrame.

>>> df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
...                    'B': ['a', 'b', 'c', 'd', 'e'],
...                    'C': ['f', 'g', 'h', 'i', 'j']})

>>> df.replace(to_replace='^[a-g]', value='e', regex=True)
    A  B  C
0  0  e  e
1  1  e  e
2  2  e  h
3  3  e  i
4  4  e  j

If ``value`` is not ``None`` and `to_replace` is a dictionary, the dictionary
keys will be the DataFrame columns that the replacement will be applied.

>>> df.replace(to_replace={'B': '^[a-c]', 'C': '^[h-j]'}, value='e', regex=True)
    A  B  C
0  0  e  f
1  1  e  g
2  2  e  e
3  3  d  e
4  4  e  e
File:      c:\users\cabrejo3\pandas-env\lib\site-packages\pandas\core\generic.py
Type:      method

In [11]:
help(temp_last_7_days.unique)

Help on method unique in module pandas.core.series:

unique() -> 'ArrayLike' method of pandas.core.series.Series instance
    Return unique values of Series object.

    Uniques are returned in order of appearance. Hash table-based unique,
    therefore does NOT sort.

    Returns
    -------
    ndarray or ExtensionArray
        The unique values returned as a NumPy array. See Notes.

    See Also
    --------
    Series.drop_duplicates : Return Series with duplicate values removed.
    unique : Top-level unique method for any 1-d array-like object.
    Index.unique : Return Index with unique values from an Index object.

    Notes
    -----
    Returns the unique values as a NumPy array. In case of an
    extension-array backed Series, a new
    :class:`~api.extensions.ExtensionArray` of that type with just
    the unique values is returned. This includes

        * Categorical
        * Period
        * Datetime with Timezone
        * Datetime without Timezone
        * Timedelta
        * Interval
        * Sparse
        * IntegerNA

    See Examples section.

    Examples
    --------
    >>> pd.Series([2, 1, 3, 3], name='A').unique()
    array([2, 1, 3])

    >>> pd.Series([pd.Timestamp('2016-01-01') for _ in range(3)]).unique()
    <DatetimeArray>
    ['2016-01-01 00:00:00']
    Length: 1, dtype: datetime64[ns]

    >>> pd.Series([pd.Timestamp('2016-01-01', tz='US/Eastern')
    ...            for _ in range(3)]).unique()
    <DatetimeArray>
    ['2016-01-01 00:00:00-05:00']
    Length: 1, dtype: datetime64[ns, US/Eastern]

    An Categorical will return categories in the order of
    appearance and with the same dtype.

    >>> pd.Series(pd.Categorical(list('baabc'))).unique()
    ['b', 'a', 'c']
    Categories (3, object): ['a', 'b', 'c']
    >>> pd.Series(pd.Categorical(list('baabc'), categories=list('abc'),
    ...                          ordered=True)).unique()
    ['b', 'a', 'c']
    Categories (3, object): ['a' < 'b' < 'c']

2. How many attributes are found on the .str attribute? Look at the documentation for three of them.

In [12]:
s1 = pd.Series(["a", "B", "c"]) #we create a Series labeled s1
str_attributes = dir(s1.str) # accessing the attributes of the Series string method
print(len(str_attributes))
print(str_attributes)

100
['__annotations__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__frozen', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_data', '_doc_args', '_freeze', '_get_series_list', '_index', '_inferred_dtype', '_is_categorical', '_is_string', '_name', '_orig', '_parent', '_validate', '_wrap_result', 'capitalize', 'casefold', 'cat', 'center', 'contains', 'count', 'decode', 'encode', 'endswith', 'extract', 'extractall', 'find', 'findall', 'fullmatch', 'get', 'get_dummies', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'islower', 'isnumeric', 'isspace', 'istitle', 'isupper', 'join', 'len', 'ljust', 'lower', 'lstrip', 'match', 'normalize', 'pad', 'partition', 'removeprefix', 'removesuffix', 'repeat', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'slice', 'slice_replace', 'split', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'wrap', 'zfill']

In [13]:
# accessing to the count attribute
s1.str.count?

Signature: s1.str.count(pat, flags: 'int' = 0)
Docstring:
Count occurrences of pattern in each string of the Series/Index.

This function is used to count the number of times a particular regex
pattern is repeated in each of the string elements of the
:class:`~pandas.Series`.

Parameters
----------
pat : str
    Valid regular expression.
flags : int, default 0, meaning no flags
    Flags for the `re` module. For a complete list, `see here
    <https://docs.python.org/3/howto/regex.html#compilation-flags>`_.
**kwargs
    For compatibility with other string methods. Not used.

Returns
-------
Series or Index
    Same type as the calling object containing the integer counts.

See Also
--------
re : Standard library module for regular expressions.
str.count : Standard library version, without regular expression support.

Notes
-----
Some characters need to be escaped when passing in `pat`.
eg. ``'$'`` has a special meaning in regex and must be escaped when
finding this literal character.

Examples
--------
>>> s = pd.Series(['A', 'B', 'Aaba', 'Baca', np.nan, 'CABA', 'cat'])
>>> s.str.count('a')
0    0.0
1    0.0
2    2.0
3    2.0
4    NaN
5    0.0
6    1.0
dtype: float64

Escape ``'$'`` to find the literal dollar sign.

>>> s = pd.Series(['$', 'B', 'Aab$', '$$ca', 'C$B$', 'cat'])
>>> s.str.count('\\$')
0    1
1    0
2    1
3    2
4    2
5    0
dtype: int64

This is also available on Index

>>> pd.Index(['A', 'A', 'Aaba', 'cat']).str.count('a')
Index([0, 0, 2, 1], dtype='int64')
File:      c:\users\cabrejo3\pandas-env\lib\site-packages\pandas\core\strings\accessor.py
Type:      method

### Chapter 8. Operator Methods

1. Add a numeric series to itself

In [14]:
import numpy as np
num_1 = np.arange(10)
print(num_1)
num_S = pd.Series(num_1)
print(num_S)
double_num_S = num_S.add(num_S)
print(double_num_S)

[0 1 2 3 4 5 6 7 8 9]
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
8    16
9    18
dtype: int64

2. Add 10 to a numeric series.

In [15]:
num_S_plus_10 = num_S.add(10)
print(num_S_plus_10)

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

3. Read the documentation for the .add method

In [16]:
num_S.add??

Signature: num_S.add(other, level=None, fill_value=None, axis: 'Axis' = 0) -> 'Series'
Docstring:
Return Addition of series and other, element-wise (binary operator `add`).

Equivalent to ``series + other``, but with support to substitute a fill_value for
missing data in either one of the inputs.

Parameters
----------
other : Series or scalar value
level : int or name
    Broadcast across a level, matching Index values on the
    passed MultiIndex level.
fill_value : None or float value, default None (NaN)
    Fill existing missing (NaN) values, and any new element needed for
    successful Series alignment, with this value before computation.
    If data in both corresponding Series locations is missing
    the result of filling (at that location) will be missing.
axis : {0 or 'index'}
    Unused. Parameter needed for compatibility with DataFrame.

Returns
-------
Series
    The result of the operation.

See Also
--------
Series.radd : Reverse of the Addition operator, see
    `Python documentation
    <https://docs.python.org/3/reference/datamodel.html#emulating-numeric-types>`_
    for more details.

Examples
--------
>>> a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
>>> a
a    1.0
b    1.0
c    1.0
d    NaN
dtype: float64
>>> b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])
>>> b
a    1.0
b    NaN
d    1.0
e    NaN
dtype: float64
>>> a.add(b, fill_value=0)
a    2.0
b    1.0
c    1.0
d    1.0
e    NaN
dtype: float64
Source:
    @Appender(ops.make_flex_doc("add", "series"))
    def add(self, other, level=None, fill_value=None, axis: Axis = 0) -> Series:
        return self._flex_method(
            other, operator.add, level=level, fill_value=fill_value, axis=axis
        )
File:      c:\users\cabrejo3\pandas-env\lib\site-packages\pandas\core\series.py
Type:      method

### Chapter 9 Aggregate Methods

In [17]:
gt20city = city_mpg > 20 # se convierte en una serie booleana (equivale a 1s para True y 0s para False)
gt20city.sum()

10272

In [18]:
(city_mpg.gt(20).mean())*100 # usamos la media para calcular el % de casos en que se cumple la condición

24.965973167412017

In [19]:
city_mpg.gt(20).sum()/len(city_mpg)*100 # equivalente usando suma y división por n (len())

24.965973167412017

In [20]:
print(gt20city.agg("all"))
print(gt20city.agg("any"))

False
True

In [21]:
quantile90 = lambda x: x.quantile(q = .9)
print(city_mpg.agg(['sum', 'mean', quantile90]))
city_mpg.quantile(q=.9)

sum         755776.000000
mean            18.369045
<lambda>        24.000000
Name: city08, dtype: float64

24.0

With a dataset of your choice

1. Find the count of non-missing values of series

In [22]:
print(city_mpg.agg("count"))

41144

2. Find the number of entries of a series

In [23]:
city_mpg.count()

np.int64(41144)

In [24]:
len(city_mpg)

41144

In [25]:
city_mpg.size

41144

In [26]:
city_mpg.shape

(41144,)

3. Find the number of unique entries in the series

In [27]:
city_mpg.agg("nunique")

105

In [28]:
city_mpg.nunique()

105

4. Find the mean value in the series

In [29]:
city_mpg.mean()

18.369045304297103

5. Find the maximum value in the series

In [30]:
city_mpg.max()

150

6. Use the .agg method to find all of the above

In [31]:
city_mpg.agg(["count", "nunique", "mean", "max"])

count      41144.000000
nunique      105.000000
mean          18.369045
max          150.000000
Name: city08, dtype: float64

### Chapter 11: Manipulation Methods

En este capítulo se habla de métodos de manipulación aplicados a Series, los siguientes:

- s.apply(func)
- s.where(cond, other = nan)
- s.case_when(caselist), where caselist is a list of tuples of (boolean array, result). Simula un conjunto de condiciones if, adolece de no tener un parámetro *else* para resto de casos.
- s.fillna(value=None, method=None)
- s.interpolate(method='linear')
- s.clip(lower=None, upper=None)
- s.sort_values()
- s.sort_index()
- s.drop_duplicates(keep='first')
- s.rank(method='average', na_option='keep')
- s.replace(to_replace=None, values=None)
- pd.cut(x, bins, labels=None, ...) x es una Series
- pd.qcut(x, q, labels=None, ...) divide la serie en cuantiles con parecido nº de elementos

Ejercicios:

Con un dataset de tu elección:

1. Create a Series from a numeric column that has a value of 'high' if it is equal to or above the mean and 'low' if it is below the mean using .apply.

In [32]:
path = 'C:/Users/CABREJO3/Documents/Learning Python and Pandas/Datasets/2022-2023 Football Team Stats.csv'
teamstats = pd.read_csv(path, sep=";", dtype_backend = 'pyarrow', engine = 'pyarrow')

In [33]:
teamstats.head()

,Rk,Squad,Country,LgRk,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper
0,1,b'Barcelona',ESP,1,29,23,4,2,53,9,44,73,2.52,55.9,22.7,33.2,1.14,83148,b'Robert Lewandowski - 17',b'Marc-Andr\xe9 ter Stegen'
1,2,b'Napoli',ITA,1,30,24,3,3,66,21,45,75,2.5,53.2,25.3,27.9,0.93,25662,b'Victor Osimhen - 21',b'Alex Meret'
2,3,b'Paris S-G',FRA,1,32,24,3,5,75,31,44,75,2.34,64.7,39.1,25.7,0.8,40508,b'Kylian Mbapp\xe9 - 22',b'Gianluigi Donnarumma'
3,4,b'Arsenal',ENG,1,32,23,6,3,77,34,43,75,2.34,64.1,34.7,29.4,0.92,60203,b'Martinelli - 15',b'Aaron Ramsdale'
4,5,b'Manchester City',ENG,2,30,22,4,4,78,28,50,70,2.33,63.5,24.5,39.0,1.3,53203,b'Erling Haaland - 32',b'Ederson'

In [34]:
goles = teamstats.GF

In [35]:
goles

0     53
1     66
2     75
3     77
4     78
      ..
93    22
94    27
95    20
96    20
97    25
Name: GF, Length: 98, dtype: int64[pyarrow]

In [36]:
goles.head()

0    53
1    66
2    75
3    77
4    78
Name: GF, dtype: int64[pyarrow]

In [37]:
goles.tail()

93    22
94    27
95    20
96    20
97    25
Name: GF, dtype: int64[pyarrow]

In [38]:
media_goles = goles.mean()

In [39]:
print(media_goles)

41.255102040816325

In [40]:
def media_high_o_low(val):
    if val >= media_goles:
        return "high"
    return "low"

In [41]:
goles.apply(media_high_o_low)

0     high
1     high
2     high
3     high
4     high
      ...
93     low
94     low
95     low
96     low
97     low
Name: GF, Length: 98, dtype: object

2. Create a Series equal as above, but using .case_when.

In [42]:
goles.case_when(caselist=[(goles>=media_goles, "high"), (goles<media_goles, "low")])

0     high
1     high
2     high
3     high
4     high
      ...
93     low
94     low
95     low
96     low
97     low
Name: GF, Length: 98, dtype: object

3. Time the differences between previous two solutions to see which is faster

In [43]:
%%timeit
goles.apply(media_high_o_low)

82.8 μs ± 6.6 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [44]:
%%timeit
goles.case_when(caselist=[(goles>=media_goles, "high"), (goles<media_goles, "low")])

1.03 ms ± 103 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

4. Replace the missing values of a numeric series with the median value.

In [45]:
goles_mal = goles.replace(to_replace = 53, value = None)
goles_mal

0     <NA>
1       66
2       75
3       77
4       78
      ...
93      22
94      27
95      20
96      20
97      25
Name: GF, Length: 98, dtype: int64[pyarrow]

In [46]:
print(goles_mal.isna().sum())

2

In [47]:
mediana_goles = goles_mal.median()

In [48]:
mediana_goles

39.0

In [49]:
goles_arreglado = goles_mal.fillna(mediana_goles)
goles_arreglado

0     39
1     66
2     75
3     77
4     78
      ..
93    22
94    27
95    20
96    20
97    25
Name: GF, Length: 98, dtype: int64[pyarrow]

5. Clip the values of a numeric series between to 10th and 90 percentiles.

In [50]:
goles.clip(lower = goles.quantile(.1), upper = goles.quantile(.9))

0     53
1     57
2     57
3     57
4     57
      ..
93    26
94    27
95    26
96    26
97    26
Name: GF, Length: 98, dtype: int64[pyarrow]

6. Using categorical column, replace any value that is not in the top 10 most frequent values  with 'Other'.

In [51]:
countries = teamstats.Country.astype('category').cat.add_categories('Other')
# Añadimos la categoría 'Other' para que no ocurra un error al usar el método .where() más abajo.
# La lista de categorías debe contar con la categoría 'Other', si no el método where no podrá usarla como parámetro other='Other'
# Las listas de categorías solo pueden operar con las categorías que contienen

In [52]:
top_2_countries = countries.value_counts().index[0:2]

In [53]:
countries.where(countries.isin(top_2_countries), other = "Other")

0       ESP
1     Other
2     Other
3       ENG
4       ENG
      ...
93    Other
94    Other
95    Other
96      ESP
97    Other
Name: Country, Length: 98, dtype: category
Categories (6, object): ['ENG', 'ESP', 'FRA', 'GER', 'ITA', 'Other']

8. Make a function that takes a categorical series and a number (n) and returns a replace series that replaces any value not in the top n most frequent values with 'Other'

In [54]:
def replace_non_top(Series, n):
    Series_cat = Series.astype('category')
    top_n = Series_cat.value_counts().index[:n]
    if 'Other' in Series_cat.cat.categories:
        return Series_cat.where(Series_cat.isin(top_n), other = 'Other')
    else:
        Series_cat.cat.add_categories('Other')
        return where(Series_cat.isin(top_n), other='Other')

In [55]:
replace_non_top(countries, 2)

0       ESP
1     Other
2     Other
3       ENG
4       ENG
      ...
93    Other
94    Other
95    Other
96      ESP
97    Other
Name: Country, Length: 98, dtype: category
Categories (6, object): ['ENG', 'ESP', 'FRA', 'GER', 'ITA', 'Other']

9. Using a numeric column, bin it into 10 groups with the same width.

In [56]:
pd.cut(goles, bins = 10)

0       (49.5, 55.4]
1       (61.3, 67.2]
2       (73.1, 79.0]
3       (73.1, 79.0]
4       (73.1, 79.0]
           ...
93    (19.941, 25.9]
94      (25.9, 31.8]
95    (19.941, 25.9]
96    (19.941, 25.9]
97    (19.941, 25.9]
Name: GF, Length: 98, dtype: category
Categories (10, interval[float64, right]): [(19.941, 25.9] < (25.9, 31.8] < (31.8, 37.7] < (37.7, 43.6] ... (55.4, 61.3] < (61.3, 67.2] < (67.2, 73.1] < (73.1, 79.0]]

10. Using a numeric column, bin it in 10 groups that have equal sized bins.

In [57]:
pd.qcut(goles, q=10)

0       (49.0, 57.0]
1       (57.0, 79.0]
2       (57.0, 79.0]
3       (57.0, 79.0]
4       (57.0, 79.0]
           ...
93    (19.999, 26.0]
94      (26.0, 29.4]
95    (19.999, 26.0]
96    (19.999, 26.0]
97    (19.999, 26.0]
Name: GF, Length: 98, dtype: category
Categories (10, interval[float64, right]): [(19.999, 26.0] < (26.0, 29.4] < (29.4, 35.0] < (35.0, 36.8] ... (43.0, 47.0] < (47.0, 49.0] < (49.0, 57.0] < (57.0, 79.0]]

## Chapter 12: Indexing Operations

With a database of your choice:

12.1. Inspect the index

In [66]:
goles.index

RangeIndex(start=0, stop=98, step=1)

In [67]:
countries.index # Comprobamos que ambas series comparten el mismo índice

RangeIndex(start=0, stop=98, step=1)

In [73]:
goles_labels = goles.rename(countries) # Gracias a la propiedad anterior, con rename renombramos el índice con los valores de la series countries

In [74]:
goles_labels.index # Ahora el índice ya no es numérico

Index(['ESP', 'ITA', 'FRA', 'ENG', 'ENG', 'ESP', 'GER', 'ESP', 'FRA', 'FRA',
       'GER', 'ITA', 'ITA', 'ENG', 'FRA', 'ENG', 'ITA', 'GER', 'GER', 'ESP',
       'GER', 'ITA', 'FRA', 'FRA', 'ENG', 'ITA', 'ENG', 'ITA', 'ESP', 'ENG',
       'FRA', 'ESP', 'ENG', 'GER', 'GER', 'ESP', 'FRA', 'GER', 'FRA', 'GER',
       'ENG', 'FRA', 'ITA', 'ITA', 'FRA', 'ENG', 'ESP', 'ITA', 'ESP', 'ITA',
       'GER', 'ITA', 'ESP', 'ESP', 'ITA', 'ENG', 'FRA', 'GER', 'ESP', 'GER',
       'ESP', 'FRA', 'ESP', 'ENG', 'ESP', 'ITA', 'ESP', 'ITA', 'ENG', 'ENG',
       'ENG', 'GER', 'FRA', 'FRA', 'GER', 'FRA', 'ESP', 'FRA', 'ESP', 'ITA',
       'ESP', 'GER', 'ENG', 'ENG', 'ENG', 'ITA', 'GER', 'GER', 'ITA', 'ENG',
       'GER', 'ENG', 'FRA', 'FRA', 'ITA', 'ITA', 'ESP', 'FRA'],
      dtype='object')

12.2. Sort the index

In [75]:
goles_labels.sort_index()

ENG    29
ENG    54
ENG    31
ENG    45
ENG    48
       ..
ITA    49
ITA    25
ITA    49
ITA    26
ITA    42
Name: GF, Length: 98, dtype: int64[pyarrow]

12.3.3 Sort the index to monotonically increasing integers starting from 0.

In [76]:
goles_monotonic = goles_labels.reset_index(drop = True)
goles_monotonic.index

RangeIndex(start=0, stop=98, step=1)

12.5 Using goles_labels, pull out:
- first five entries
- last five entries
- one hundred entries starting at index position 10

In [77]:
goles_labels.head()

ESP    53
ITA    66
FRA    75
ENG    77
ENG    78
Name: GF, dtype: int64[pyarrow]

In [78]:
goles_labels.tail()

FRA    22
ITA    27
ITA    20
ESP    20
FRA    25
Name: GF, dtype: int64[pyarrow]

In [80]:
goles_labels.iloc[9:109]

FRA    57
GER    79
ITA    49
ITA    47
ENG    46
       ..
FRA    22
ITA    27
ITA    20
ESP    20
FRA    25
Name: GF, Length: 89, dtype: int64[pyarrow]

12.8. Create a series with values with index entries '20', '10' and '2'.

In [82]:
goles_elegidos = goles_labels.iloc[[20, 10, 2]]
goles_elegidos

GER    41
GER    79
FRA    75
Name: GF, dtype: int64[pyarrow]